body {
  /* margin: 0; */
  /* padding: 0; */
  background-image: url(https://images.unsplash.com/photo-1536965764833-5971e0abed7c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
}

.App {
  font-family: sans-serif;
  text-align: center;
}
